<table>
    <thead>
    <tr>
        <th>Done</th>
        <th>Task</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="toDoItem in toDoItems">
        <td><input type="checkbox" ng-model="toDoItem.markedComplete" id="checkbox_{{toDoItem.toDoId}}" ng-click="markCompleted('{{toDoItem.toDoId}}')"></td>
        <td><a href="#/todoitem/{{toDoItem.toDoId}}" id="label_{{toDoItem.toDoId}}" ng-class="{completed:toDoItem.markedComplete}">{{toDoItem.toDoDescription}}</a></td>
    </tr>
    </tbody>
</table>

<div id="removeCompletedPanel">
    <button ng-click="removeCompletedItems()" id="removeCompletedButton">Remove Completed</button>
</div>

<div id="addToDoPanel">
    <form>
        <input type="text" ng-required ng-model="newToDo.description" id="addToDoDescriptionInput">
        <button type="submit" ng-click="addToDoItem()" id="addToDoButton">Add ToDo</button>
    </form>
</div>

<div id="toDoSpinner" ng-show="spinner.show">Wacht even...</div>